<div *ngIf="this.visible" class="search-card">
  <div class="wrapper">
    <div class="post-header">
      <a href="http://reddit.com/{{post.link}}">
        <h3>{{post.title}}</h3>
        <br />
        <div class="subreddit">{{post.subreddit}}</div>
      </a> 
    </div>
    <div class="details">
      <div class="post-controls">
        <div>
          <button (click)="upvote()" [class.bg-green]="this.upvoted">
            <fa-icon [icon]="faAngleUp"></fa-icon>
          </button>
          <div class="score">{{post.score}}</div>
          <button (click)="downvote()" [class.bg-red]="this.downvoted">
            <fa-icon [icon]="faAngleDown"></fa-icon>
          </button>
          <button (click)="toggleVisible()">
            <fa-icon [icon]="faEyeSlash"></fa-icon>
          </button>
        </div>
      </div>
      <div *ngIf="post.image.length > 4" class="image-section">
        <div class="image-box">
          <img src={{post.image}} />
        </div>
      </div>
      <div [class.article-box-with-img]="post.image.length > 4" class="text-content">
        <div class="date-box">{{post.creationDate * 1000 | date:"medium" }}</div>
        <div class="article-text"> 
            <div *ngIf="post.text">{{(post.text.length>250)? (post.text |
                slice:0:250)+'...':(post.text)
                }}</div>
        </div>
      </div>
    </div>

  </div>
</div>