<div class="header-top">
  <div class="logo">
    <img class="googlelogo" src="https://www.google.ie/images/branding/googlelogo/2x/googlelogo_color_120x44dp.png" />
  </div>

  <div class="form-style">
    <div class="search-form">
      <form action="#" (submit)="submitQuery()">
        <input class="input-text" type="text" name="subredditQuery" id="" [(ngModel)]="subredditQuery" placeholder="enter subreddit name">
        <button class="form-button">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
        <button class="form-button" (click)="refreshPage()">
          <fa-icon [icon]="faSync"></fa-icon>
        </button>
      </form>
    </div>
  </div>

</div>
<div class="submenu">
  <ul>
    <li class="menu-item menu-item-active">All</li>
    <li class="menu-item">Videos</li>
    <li class="menu-item">Images</li>
    <li class="menu-item">News</li>
    <li class="menu-item">Shopping</li>
    <li class="menu-item">More</li>
    <li class="menu-item menu-item-empty">&nbsp;</li>
    <li class="menu-item">Settings</li>
    <li class="menu-item">Tools</li>
  </ul>
</div>
<div *ngIf="posts?.length > 0">
  <div class="mockSearchInfo">
    <span> About {{posts.length}} results.</span>
  </div>
  <div class="search-results">
    <div *ngFor="let post of posts">
      <app-post [post]="post"></app-post>
    </div>
  </div>  
</div>
<div *ngIf="posts?.length == 0">
  <div class="mockSearchInfo">
    <span> No results found or you typed the wrong subreddit.</span>
  </div>
</div>